@model MyBlogApp.Areas.Admin.ViewModel.BlogDetailViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
            
                <div class="card-body"><strong style="font-size:25px;">Toplam Makale</strong><span style=" color:black;font-size:80px;font-weight:700;  opacity:0.4;float:right">@ViewBag.BlogCount</span></div>

                <div class="card-footer d-flex align-items-center justify-content-between">



                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body"><strong style="font-size:25px;">Aktif Makale</strong> <span style=" color:black;font-size:80px; font-weight:700; opacity:0.4;float:right">@ViewBag.ActiveBlog</span></div>
                <div class="card-footer d-flex align-items-center justify-content-between">

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body"><strong style="font-size:25px;">Anasayfada Gösterilen</strong> <span style=" color:black;font-size:80px;font-weight:700;  opacity:0.4;float:right">@ViewBag.ActiveHome</span></div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">

            <div class="card bg-danger text-white mb-4">
                <div class="card-body"><strong style="font-size:25px;">Pasif Makale</strong><span style=" color:black;font-size:80px;font-weight:700;  opacity:0.4;float:right">@ViewBag.PasiveBlog</span></div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                </div>
            </div>
        </div>
    </div>

    @*<div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area mr-1"></i>
                        Area Chart Example
                    </div>
                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar mr-1"></i>
                        Bar Chart Example
                    </div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div>*@
    <div class="row">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Kayıtlı Makaleler
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTableBlog" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Makale ID</th>
                                <th>Başlık</th>
                                <th>Açıklama</th>
                                <th>Oluşturulma Tarihi</th>
                                <th>Kategori</th>
                                <th>Aktif mi?</th>
                                <th>Anasayfada mı?</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Blogs)
                            {
                            <tr>
                                <td>@item.BlogId</td>
                                <td>@item.Head</td>
                                <td>@item.Description</td>
                                <td>@item.CreateDate</td>
                                @foreach (var itemc in Model.Categories)
                                {
                                    if (item.CategoryId == itemc.CategoryId)
                                    {
                                        <td>@itemc.CategoryName</td>
                                    }

                                }

                                @if (@item.IsActive)
                                {
                                    <td><button type="button" disabled class="btn btn-success btn-sm">Evet</button></td>
                                }
                                else
                                {
                                    <td><button type="button" disabled class="btn btn-danger btn-sm">Hayır</button></td>
                                }
                                @if (@item.HomePage)
                                {
                                    <td><button type="button" disabled class="btn btn-success btn-sm">Evet</button></td>
                                }
                                else
                                {
                                    <td><button type="button" disabled class="btn btn-danger btn-sm">Hayır</button></td>
                                }
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>MAkale ID</th>
                                <th>Başlık</th>
                                <th>Açıklama</th>
                                <th>Oluşturulma Tarihi</th>
                                <th>Kategori</th>
                                <th>Aktif mi?</th>
                                <th>Anasayfada mı?</th>
                            </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
<script type="text/javascript" charset="utf-8" src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTableBlog').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
            }
        });
    });
</script>